@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar"> //Don't need navbar for now
    <NavMenu />
    </div>*@

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
